.container {
	width: 100vw;
	height: 100vh;
	background-color: #f8f8f8;
	.head {
		width: 100vw;
		height: 42.4vw;
		background-image: linear-gradient(0deg, rgba(0, 145, 255, 0) 4%, #0091ff 50%);
		padding-top: 10.9333vw;
		text-align: center;
		.title {
			font-family: PingFangSC-Regular;
			font-size: 4.2667vw;
			color: #ffffff;
		}
		.iconfont {
			font-size: 5.3333vw;
			color: #ffffff;
			position: fixed;
			top: 11.4667vw;
			left: 4.9333vw;
		}
	}
	.address {
		width: 90.4vw;
		height: 29.6vw;
		margin: -19.7333vw auto 4.2667vw;
		background: #ffffff;
		border-radius: 1.0667vw;
		padding: 4.2667vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			.title {
				font-family: PingFangSC-Medium;
				font-weight: 500;
				font-size: 4.2667vw;
				color: #333333;
				margin-bottom: 3.7333vw;
			}
			.order-address {
				font-family: PingFangSC-Regular;
				font-size: 3.7333vw;
				color: #333333;
				margin-bottom: 1.6vw;
			}
			.user-info {
				font-family: PingFangSC-Regular;
				font-size: 3.2vw;
				color: #666666;
			}
		}
		.right {
			color: #666;
		}
	}
	@import "./cart-list-common";
	.cart-list {
		top: 56.5333vw;
		padding-top: 0vw;
	}
@import "./foot-common";
}

.confirm-mask {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	.modal {
		text-align: center;
		z-index: 99;
		width: 80.2667vw;
		height: 41.8667vw;
		background: #fff;
		border-radius: 1.0667vw;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 6.4vw;
		.modal-title {
			font-family: PingFangSC-Medium;
			font-weight: 500;
			font-size: 4.8vw;
			color: #333333;
			margin-bottom: 2.1333vw;
		}
		.modal-content {
			font-family: PingFangSC-Regular;
			font-size: 3.7333vw;
			color: #666666;
			margin-bottom: 6.4vw;
		}
		.modal-buttons {
			display: flex;
			justify-content: space-evenly;
			.modal-button {
				border: 0.2667vw solid #4fb0f9;
				border-radius: 4.2667vw;
				font-family: PingFangSC-Regular;
				font-size: 3.7333vw;
				width: 21.3333vw;
				height: 8.5333vw;
				display: flex;
				justify-content: center;
				align-items: center;
				&.cancel {
					color: #0091ff;
				}
				&.confirm {
					color: #ffffff;
					background: #4fb0f9;
				}
			}
		}
	}
}
.remind-mask {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	.modal {
		text-align: center;
		z-index: 99;
		width: 80.2667vw;
		height: 41.8667vw;
		background: #fff;
		border-radius: 1.0667vw;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 6.4vw;
		.icon-wrong-b {
			color: #666;
			position: absolute;
			right: 3.2vw;
			top: 3.2vw;
			font-size: 6.4vw;
		}
		.icon-correct {
			display: inline-block;
			font-size: 13.3333vw;
			margin-top: 4.2667vw;
			margin-bottom: 4.2667vw;
		}
		.content {
			font-family: PingFangSC-Medium;
			font-weight: 500;
			font-size: 4.8vw;
			color: #333333;
		}
	}
}
