.container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
}
.container .head {
  height: 11.7333vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8vw;
}
.container .head .iconfont {
  color: #b6b6b6;
}
.container .head .title {
  font-size: 4.2667vw;
  color: #333333;
}
.container .head .button {
  font-size: 3.7333vw;
  color: #333333;
}
.container .order-list {
  position: fixed;
  top: 11.7333vw;
  right: 0;
  bottom: 13.0667vw;
  left: 0;
  overflow-y: auto;
  padding-top: 4.2667vw;
}
.container .order-list .order-item {
  width: 90.4vw;
  height: 29.3333vw;
  background: #ffffff;
  border-radius: 1.0667vw;
  margin: 0 auto 4.2667vw;
  padding: 4.2667vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .order-list .order-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .order-list .order-item .top .shop-name {
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 4.2667vw;
  color: #333333;
}
.container .order-list .order-item .top .order-status {
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 3.7333vw;
  color: #999999;
}
.container .order-list .order-item .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .order-list .order-item .bottom .products .product-img {
  width: 10.6667vw;
  height: 10.6667vw;
  margin-right: 3.2vw;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(0.5333vw);
}
.container .order-list .order-item .bottom .data .price {
  font-family: PingFangSC-Regular;
  font-size: 3.7333vw;
  color: #e93b3b;
  text-align: right;
  margin-bottom: 1.0667vw;
}
.container .order-list .order-item .bottom .data .count {
  font-family: PingFangSC-Regular;
  font-size: 3.2vw;
  color: #333333;
  text-align: right;
  line-height: 3.7333vw;
}

.tabbar {
  position: fixed;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0 -0.2667vw 0.2667vw 0 #f1f1f1;
  width: 100vw;
  height: 13.0667vw;
  display: flex;
  justify-content: space-evenly;
}
.tabbar .item {
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabbar .item.active {
  color: #1fa4fc;
}
.tabbar .item.active .iconfont.one {
  display: none;
}
.tabbar .item.active .iconfont.two {
  display: inline;
}
.tabbar .item .iconfont {
  font-size: 5.8667vw;
  margin-bottom: 1.0667vw;
}
.tabbar .item .iconfont.one {
  display: inline;
}
.tabbar .item .iconfont.two {
  display: none;
}
.tabbar .item .text {
  font-size: 2.6667vw;
}