.container .head {
  margin-top: 32vw;
  margin-bottom: 10.6667vw;
  text-align: center;
}
.container .head .head-img {
  width: 17.6vw;
  height: 17.6vw;
}
.container .info {
  text-align: center;
  margin-bottom: 8.5333vw;
}
.container .info .input-item {
  margin-bottom: 4.2667vw;
  padding-left: 4.2667vw;
  width: 78.6667vw;
  height: 12.8vw;
  background: #f9f9f9;
  border: 0.2667vw solid rgba(0, 0, 0, 0.1);
  border-radius: 1.6vw;
}
.container .info .input-item::-moz-placeholder {
  font-size: 4.2667vw;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  line-height: 6.4vw;
}
.container .info .input-item::placeholder {
  font-size: 4.2667vw;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  line-height: 6.4vw;
}
.container .info .input-item:last-child {
  margin-bottom: 0;
}
.container .button {
  background: #0091ff;
  box-shadow: 0 1.0667vw 2.1333vw 0 rgba(0, 145, 255, 0.32);
  border-radius: 1.0667vw;
  width: 78.6667vw;
  height: 12.8vw;
  margin: 0 auto;
  font-size: 4.2667vw;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 12.8vw;
  margin-bottom: 4.2667vw;
}
.container .button-group {
  text-align: center;
}
.container .button-group .button-group-item {
  font-size: 3.7333vw;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
}
.container .button-group .gap {
  margin: 0 3.2vw;
  font-size: 3.2vw;
  position: relative;
  top: -0.2667vw;
}